webservicewcf/webservicesample/VSBS.ConsumeWinForms/Web References/MeuServico/MeuServico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaDeMontadoras">
        <s:complexType />
      </s:element>
      <s:element name="ListaDeMontadorasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaDeMontadorasResult" type="tns:ArrayOfMontadora" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMontadora">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Montadora" nillable="true" type="tns:Montadora" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Montadora">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PegaMontadoraPorCodigo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PegaMontadoraPorCodigoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PegaMontadoraPorCodigoResult" type="tns:Montadora" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PegaMontadorPorFiltroDeNome">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PegaMontadorPorFiltroDeNomeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PegaMontadorPorFiltroDeNomeResult" type="tns:ArrayOfMontadora" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ListaDeMontadorasSoapIn">
    <wsdl:part name="parameters" element="tns:ListaDeMontadoras" />
  </wsdl:message>
  <wsdl:message name="ListaDeMontadorasSoapOut">
    <wsdl:part name="parameters" element="tns:ListaDeMontadorasResponse" />
  </wsdl:message>
  <wsdl:message name="PegaMontadoraPorCodigoSoapIn">
    <wsdl:part name="parameters" element="tns:PegaMontadoraPorCodigo" />
  </wsdl:message>
  <wsdl:message name="PegaMontadoraPorCodigoSoapOut">
    <wsdl:part name="parameters" element="tns:PegaMontadoraPorCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="PegaMontadorPorFiltroDeNomeSoapIn">
    <wsdl:part name="parameters" element="tns:PegaMontadorPorFiltroDeNome" />
  </wsdl:message>
  <wsdl:message name="PegaMontadorPorFiltroDeNomeSoapOut">
    <wsdl:part name="parameters" element="tns:PegaMontadorPorFiltroDeNomeResponse" />
  </wsdl:message>
  <wsdl:portType name="MeuServicoSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaDeMontadoras">
      <wsdl:input message="tns:ListaDeMontadorasSoapIn" />
      <wsdl:output message="tns:ListaDeMontadorasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PegaMontadoraPorCodigo">
      <wsdl:input message="tns:PegaMontadoraPorCodigoSoapIn" />
      <wsdl:output message="tns:PegaMontadoraPorCodigoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PegaMontadorPorFiltroDeNome">
      <wsdl:input message="tns:PegaMontadorPorFiltroDeNomeSoapIn" />
      <wsdl:output message="tns:PegaMontadorPorFiltroDeNomeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MeuServicoSoap" type="tns:MeuServicoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaDeMontadoras">
      <soap:operation soapAction="http://tempuri.org/ListaDeMontadoras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PegaMontadoraPorCodigo">
      <soap:operation soapAction="http://tempuri.org/PegaMontadoraPorCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PegaMontadorPorFiltroDeNome">
      <soap:operation soapAction="http://tempuri.org/PegaMontadorPorFiltroDeNome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MeuServicoSoap12" type="tns:MeuServicoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaDeMontadoras">
      <soap12:operation soapAction="http://tempuri.org/ListaDeMontadoras" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PegaMontadoraPorCodigo">
      <soap12:operation soapAction="http://tempuri.org/PegaMontadoraPorCodigo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PegaMontadorPorFiltroDeNome">
      <soap12:operation soapAction="http://tempuri.org/PegaMontadorPorFiltroDeNome" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MeuServico">
    <wsdl:port name="MeuServicoSoap" binding="tns:MeuServicoSoap">
      <soap:address location="http://localhost:49247/MeuServico.asmx" />
    </wsdl:port>
    <wsdl:port name="MeuServicoSoap12" binding="tns:MeuServicoSoap12">
      <soap12:address location="http://localhost:49247/MeuServico.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>